* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 110px;
    padding: 0px;
}

.header {
    grid-area: header;
    background-color: #02AFFE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 0px;
}

.header nav {
    padding-right: 0.15;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    border-right: 1px solid#9c1ede;
    font-size:1.35rem;
}

.header button {
    background-color: yellow;
    border: none;
    padding: 0.2rem;
    border-radius: 30px;
}

.main {
    grid-area: main;
    background-color: #141D3C;
}


.filtros {
    display: flex;
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.3rem;
}

.filtros button{
    font-size: 1rem;
}

.filtros_back{
    background-color: #f8af40;
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 3rem;
    width: 80%;
    color: #000;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filtro_1 {
    padding: 1rem;
}

.filtro_2 {
    padding: 1rem;
}

.filtros button{
    background-color: #ffffff;
    border-radius: 1rem;
}

.aside_container {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
}

.aside {
    width: 12rem;
    padding: 1.5rem;
    background-color: #02AFFE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right:2rem;
    margin-top: 2rem;
}

.aside h3{
    padding: 1.5rem;
    text-align: center;
    color: #ffffff;
}

.aside p{
    text-align: initial;
}

.aside a {
    padding: 1.5rem;
    text-align: center;
    color: white;
}

.container {
    width: 100%;
    max-width: 65rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header"
        "main   main   main"
        "footer footer footer";
    flex-wrap: wrap;
    justify-content: center;
    gap:1.6rem;
    overflow: hidden;
    padding-top: 2rem;
}

.targeta {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    
    /* margin: 20px; */
    text-align: center;
    transition: all 0.25s;
}

.container .targeta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .targeta img {
    width: 15rem;
    height: auto;
    width: 70%;
}

.targeta h4 {
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #f8af40;
}

.container p {
    font-weight: 250;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
    color: white;
}

.targeta a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.footer {
    grid-area: footer;
    background-color: #ffffff;
    /* font-style: italic; */
    border-top: solid 2px #000;
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    font-size: 20px;
}

.footer ol {
    list-style: none;
    display: flex;
}

.footer ol li a {
    color: #000;
    text-decoration: none;
    padding: 1rem;
    border-right: 1px solid#000;
}

.quienes_somos {
    color: #000;
    font-style: normal;
}

.redes {
    font-style: normal;
}

.registrarse{
    margin: 0.2rem;
    padding: 0.4rem;
}

.registrarse button{
    font-size: 1rem;
}

.form input {
    padding: 0.15rem;
    margin: 0.15rem;
    padding: 0.5rem;
}

/* .form_1{
    background-color: #02AFFE;
    justify-content: space-between;
    align-content: center;
    align-items: center;
} */




@media(max-width:700px) {
    .container {
        display: flex;
        grid-template-columns: 1fr;
    }
}


@media(max-width:576px) {

    .aside_container {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .aside {
        width: 100%;
    }

    .header {
        flex-direction: flex;
        padding: 1rem;
    }

    .header nav ul {
        flex-direction: column;
    }

    .header nav ul li a {
        border-right: none;
        padding: 1rem;
    }

    .header nav {
        padding-right: 0px;
    }
}

/* .form_1{
    background-color: #02AFFE;
    justify-content: space-between;
    align-content: center;
    align-items: center;
} */


.main_quienes{
    flex-direction:row;
    background-color:#141D3C;
    padding: 1.5rem;
    color: white;
    justify-content: center;
}

.main_quienes h1{
    padding-bottom: 0.3rem;
    display: flex;
    justify-content: center;
}

.main_quienes div{
    flex-wrap: wrap;
    align-content: center;
}

.main_quienes p{
    padding-bottom: 2rem;
}

.main_quienes img{
    flex-direction: flex;
    /* width: 15rem; */
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    /* padding-top: 1rem; */
    justify-content: center;
}

.formularios{
    display: flex;
    justify-content: center;
}

.h1_registro{
    color: #ffffff;
    justify-content: center;
    align-content: center;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: flex;
    padding-top: 1.5rem;
    margin-top: 0.3rem;
}

.form {
    background-color: #ddb6f1;
    width: 35%;
    margin: 2rem;
    justify-content: center;
    min-width: 200px;
    max-width: 600px;
    border-radius: 1.5rem;
    padding:1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.form input{
    padding: 0.15rem;
    margin: 0.15rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
}
/* .form_1{
    background-color: #02AFFE;
    justify-content: space-between;
    align-content: center;
    align-items: center;
 */


.main_quienes div{
    flex-wrap: wrap;
    align-content: center;
}

.main_quienes{
    flex-direction:row;
    background-color:#141D3C;
    padding: 1.5rem;
    color: white;
    justify-content: center;
}

.main_quienes p{
    padding-bottom: 2rem;
}

.main_quienes h1{
    padding-bottom: 1.5rem;
}

.main_quienes img{
    flex-direction: flex;
    /* width: 15rem; */
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    /* padding-top: 1rem; */
    justify-content: center;
}

.main_quienes h1{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}
